/* -------- RESETS ---------- */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html {
    font-size: 62.5%;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #_next {
    isolation: isolate;
}

/* ------ TYPOGRAPHY -------- */
body{
    font-family: 'Space Mono', monospace;
}

/* ------- LAYOUT ------- */
body, main {
    display: flex;
    flex-direction: column;
}
body {
    margin: 2rem;
    font-size: 1.6rem;
}
main {
    margin: 0;
    gap: 6rem;
}
.main-image {
    width: 85%;
    align-self: center;
    padding-top: 5rem;
}
h1 {
    font-size: 3.8rem;
    padding-bottom: 3.5rem;
}
.main-text > p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
#button {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2.5rem 0;
    max-width: 65%;
}
.attribution {
    text-align: center;
    font-size: 1.4rem;
    color: grey;
    padding-bottom: 2rem;
}

/* ----- MEDIA QUERIES ----- */
@media only screen and (min-width: 1400px){
    body {
        margin: 5rem 8rem;
        gap: 7rem;
    }
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 8% 6%;
        gap: 5rem;
    }
    .main-image {
        width: 50%;
    }
    h1 {
        font-size: 5.4rem;
    }
    .main-text > p {
        width: 65%;
    }
    #button {
        max-width: 40%;
        padding: 2rem 0;
    }
    .attribution {
        justify-self: flex-end;
        margin-top: 5%;
    }
}